#include "Base.xcconfig"

CODE_SIGN_ENTITLEMENTS = SnifLeaf/SnifLeaf.entitlements
CODE_SIGN_STYLE = Manual
COMBINE_HIDPI_IMAGES = YES
CURRENT_PROJECT_VERSION = 1
ENABLE_HARDENED_RUNTIME = YES
ENABLE_PREVIEWS = YES
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_NSHumanReadableCopyright = ""
MARKETING_VERSION = 1.0
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_VERSION = 5.0